PROJECT_NAME="PayAjo Backend"
DATABASE_URL=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_BASE_URL="https://sandbox.monnify.com"
MONNIFY_CONTRACT_CODE=
MONNIFY_WALLET_ACCOUNT=
MONNIFY_DEFAULT_PREFERRED_BANK=

BREVO_API_KEY=
EMAIL_DOMAIN=

SCHEDULER_INTERVAL_MINUTES=5
GEMINI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PAYAJO_PLATFORM_FEE_PERCENT=1
MONNIFY_COLLECTION_FEE_CAP=2000 
MONNIFY_COLLECTION_FEE_PERCENT=1.5